.footer {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.footer_element {
    font-size: 15px;
    display: inline;
    padding: 10px 10px;
}
.footer_element a {
    font-family: 'saira';
    font-weight: bold;
    text-decoration: none;
    color: black
}
