nav {
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav_element {
    font-size: 25px;
    display: inline;
    padding: 14px 16px;
}

.nav_element a {
    font-family: 'saira';
    font-weight: bold;
    text-decoration: none;
    color: black
}
.nav_element a:visited{
    color: #444549
}